#root {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--custom-background);
  --custom-Secondary-color: #25BE5A;
  --custom-background: #212121;
  --custom-secondary-backround: #2b2b2b;
  --bot-chat: #272727;
  --user-chat: #303030;

}
.topbar{
  background-color: var(--custom-secondary-backround);
  width: 100%;
  height: 10%;
  height: fit-content;
  border-bottom: 1px solid var(--custom-Secondary-color);
}
.logo {
  padding-top: 10px;
}
.App{
  position:relative;
  height: 100%;
  width: 100%;
}
.cs-message-list .cs-typing-indicator{
  background-color: var(--custom-background) !important;
  color: black;
}


div .cs-message-list,
div .ps__rail-y:hover,
div .ps .ps__rail-y:hover,
div .ps__rail-y {
background-color: var(--custom-background);
}
div .cs-message-input{
  display: fixed;
  align-items: center;
}
div .cs-message-input__content-editor,
div .cs-message-input__content-editor,
div .cs-message-input__content-editor-wrapper{
  background-color: rgb(72, 72, 72);
  color: white;
  position: sticky;
  
}

div .cs-message-input__content-editor-container{
  color: white;
}

div .cs-message-input {
  display: fixed !important;
  align-items: center;
  background-color: var(--custom-background);
}

div .cs-message-input__content-editor-wrapper{
  border: 1px solid rgb(135, 135, 135);
  place-items: center;
  max-width: 60%;
}

div .cs-message--incoming,
div .cs-message--outgoing{
  width: 50%;
}


div .cs-message--incoming .cs-message__content{
  background-color: var(--custom-Secondary-color);
  color: white;
  border-radius: 12px;
  padding:1rem;
  text-align: left;
}

div .cs-message--outgoing .cs-message__content{
  background-color: var(--user-chat);
  color: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: right;
}

/* Message input background*/
div .cs-chat-container .cs-message-input{
  background-color: var(--custom-background);
  color: white;
  padding-left: 25%;

}

div .cs-main-container{
  max-height: 90vh;
}
div .cs-main-container,
div .cs-chat-container .cs-message-input {
border: 0px;
}

.ps{
  overflow-y: scroll !important;
}

div .cs-typing-indicator__dot {
  background-color: var(--custom-Secondary-color);
  
}

div .cs-typing-indicator__text{
  color: white;
}

svg.svg-inline--fa.fa-paperclip.fa-w-14{
  display: none;
}
svg.svg-inline--fa.fa-paper-plane.fa-w-16,
svg.svg-inline--fa.fa-paper-plane.fa-w-16 path{
  fill: var(--custom-Secondary-color);
  
} 


::before{
  color: rgb(135, 135, 135) !important;
}